<div class="main-content">
  <div class="content-title">
    My Applications
  </div>
  <div class="tab-selector">
    <div class="tabs-row">
      <div class="tab"
          [ngClass]="{'selected': isSelectedTab(0)}"
          (click)="changeTab(0)">
        BUYING
      </div>
      <div class="tab"
          [ngClass]="{'selected': isSelectedTab(1)}"
          (click)="changeTab(1)">
        SELLING
      </div>
    </div>
  </div>
  <ng-container *ngIf="isSelectedTab(0)">
    <div class="table-content">
      <div *ngIf="!buyingOffers.length"
          class="w-full flex items-center justify-center h-[100px]">
        <mat-icon color="primary"
            fontIcon="block"></mat-icon>
        <div class="text-xl pl-2 text-primary">
          No Data
        </div>
      </div>
      <table *ngIf="buyingOffers.length">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Buyer Name</th>
            <th>Buyer Email</th>
            <th>Buyer Phone</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of buyingOffers">
            <td>{{ offer.id }}</td>
            <td>{{ offer.catName }}</td>
            <td>{{ offer.catBreed }}</td>
            <td>{{ offer.buyerName }}</td>
            <td>{{ offer.buyerEmail }}</td>
            <td>{{ offer.buyerPhone }}</td>
            <td>
              <button mat-raised-button
                  color="basic"
                  (click)="openEditOffer(offer)">
                EDIT</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="isSelectedTab(1)">
    <div class="table-content">
      <div *ngIf="!sellerOffers.length"
          class="w-full flex items-center justify-center h-[100px]">
        <mat-icon color="primary"
            fontIcon="block"></mat-icon>
        <div class="text-xl pl-2 text-primary">
          No Data
        </div>
      </div>
      <div class="pb-2"
          *ngFor="let cat of sellerOffers">
        <div class="w-full flex flex-wrap pb-2 items-end">
          <div class="w-1/2">
            <div class="font-bold text-lg items-end">Name: {{ cat.catName }}</div>
          </div>
          <div class="w-1/2">
            <div class="font-bold text-base items-end">Breed: {{ cat.catBreed }}</div>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Buyer Name</th>
              <th>Buyer Email</th>
              <th>Buyer Phone</th>
              <th>Confirm</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offer of cat.offer">
              <td>{{ offer.id}}</td>
              <td>{{ offer.buyerName }}</td>
              <td>{{ offer.buyerEmail }}</td>
              <td>{{ offer.buyerPhone }}</td>
              <td>
                <button mat-raised-button
                    color="basic"
                    (click)="onConfirm(offer.id)"> CONFIRM</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>