<h1 mat-dialog-title>{{ offerCreateEdit.id ? 'Edit Offer' : 'Create Offer'}}</h1>
<div mat-dialog-content>
  <p>Id</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Cat Id</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.catId"
        disabled>
  </mat-form-field>
  <p>Name</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Name</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.catName"
        disabled>
  </mat-form-field>
  <p>Breed</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Breed</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.catBreed"
        disabled>
  </mat-form-field>
  <p>Price (wei)</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Offer Price</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.price">
  </mat-form-field>
</div>
<div mat-dialog-actions
    class="footer">
  <div class="pr-2">
    <button mat-button
        (click)="dismiss()">Dismiss</button>
  </div>
  <div>
    <button mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="submit()">Submit</button>
  </div>
</div>