<h1 mat-dialog-title>{{ offerCreateEdit.id ? 'Edit Application' : 'Create Application'}}</h1>
<div mat-dialog-content>
  <p>Cat Name</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Name</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.catName"
        disabled>
  </mat-form-field>
  <p>Breed</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Breed</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.catBreed"
        disabled>
  </mat-form-field>
  <p>Name</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Buyer Name</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.buyerName">
  </mat-form-field>
  <p>Email</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Buyer Email</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.buyerEmail">
  </mat-form-field>
  <p>Email</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Buyer Phone</mat-label>
    <input matInput
        [(ngModel)]="offerCreateEdit.buyerPhone">
  </mat-form-field>
</div>
<div mat-dialog-actions
    class="footer">
  <div class="pr-2">
    <button mat-button
        (click)="dismiss()">Dismiss</button>
  </div>
  <div>
    <button mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="submit()">Submit</button>
  </div>
</div>