<div class="sidebar-content">
  <div class="sidebar-feature">
    <ng-container *ngFor="let eachFeature of features">
      <div class="sidebar-feature-content"
          [ngClass]="{'active': isSelected(eachFeature.featureUrl)}"
          (click)="goToLink(eachFeature.featureUrl)">
        <div class="sidebar-title">{{ eachFeature.featureName}}</div>
      </div>
    </ng-container>
  </div>
  <div class="sidebar-credentials">
    <div class="login-logout"
        *ngIf="!isLogin"
        (click)="goToLink('/login')">Login</div>
    <div *ngIf="isLogin"
        class="login-logout"
        (click)="logout()">
      Logout
    </div>
  </div>
</div>