.sidebar-content {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  .sidebar-feature {
    width: 100%;
    height: 90%;

    .sidebar-feature-content {
      width: 100%;
      height: 60px;
      padding: 10px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid;

      &.active {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }

      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
        cursor: pointer;
      }

      .sidebar-title {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .sidebar-credentials {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
    padding-bottom: 20px;

    .login-logout {
      width: 100%;
      font-size: 1rem;
      text-align: center;
      font-weight: 600;

      &:hover {
        color: var(--primary-color);
        cursor: pointer;
      }
    }
  }
}