<div class="main-content">
  <div class="content-title">
    My Markets Place
  </div>
  <div class="tab-selector">
    <div class="tabs-row">
      <div class="tab"
          [ngClass]="{'selected': isSelectedTab(1)}"
          (click)="changeTab(1)">
        SELLING
      </div>
      <div class="tab"
          [ngClass]="{'selected': isSelectedTab(0)}"
          (click)="changeTab(0)">
        BUYING
      </div>
    </div>
  </div>
  <ng-container *ngIf="isSelectedTab(1)">
    <div class="table-content">
      <div class="btn-area">
        <button mat-raised-button
            color="primary"
            (click)="openCreateEditCat()">ADDING CAT</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Description</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of sellingCatList">
            <td>{{cat.id}}</td>
            <td>{{cat.name}}</td>
            <td>{{cat.age}}</td>
            <td>{{cat.breed}}</td>
            <td>{{cat.description}}</td>
            <td>
              <button mat-raised-button
                  color="basic"
                  (click)="openCreateEditCat(cat)">EDIT</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="isSelectedTab(0)">
    <div class="table-content">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of buyingCatList">
            <td>{{cat.id}}</td>
            <td>{{cat.name}}</td>
            <td>{{cat.age}}</td>
            <td>{{cat.breed}}</td>
            <td>{{cat.description}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>