<div class="main-content">
  <div class="content-title">
    My Markets Place
  </div>
  <div class="tab-selector">
    <div class="tabs-row">
      <div class="tab"
          [ngClass]="{'selected': isSelectedTab(1)}"
          (click)="changeTab(1)">
        SELLING
      </div>
      <div class="tab"
          [ngClass]="{'selected': isSelectedTab(0)}"
          (click)="changeTab(0)">
        BUYING
      </div>
    </div>
  </div>
  <ng-container>
    <div class="table-content">
      <div class="btn-area">
        <button mat-raised-button
            color="primary">ADDING CAT</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Description</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>Taohoo</td>
            <td>12</td>
            <td>Scotish Fold</td>
            <td>dfuaksdjfkldsaj fkdsl fjladskfjkdsalf </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>