@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --primary-color: #3f51b5;
}


html,
body {
    height: 100%;
    background-color: #f1f1f1;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}