<h1 mat-dialog-title> {{ data.id ? 'Editing Cat' : 'Adding Cat'}}</h1>
<div mat-dialog-content>
  <p>Name</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Name</mat-label>
    <input matInput
        [(ngModel)]="catPayload.name">
  </mat-form-field>
  <p>Age</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Age</mat-label>
    <input matInput
        [(ngModel)]="catPayload.age">
  </mat-form-field>
  <p>Breed</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Breed</mat-label>
    <input matInput
        [(ngModel)]="catPayload.breed">
  </mat-form-field>
  <p>Description</p>
  <mat-form-field class="w-full"
      appearance="fill">
    <mat-label>Input Description</mat-label>
    <input matInput
        [(ngModel)]="catPayload.description">
  </mat-form-field>
</div>
<div mat-dialog-actions
    class="footer">
  <div class="pr-2">
    <button mat-button
        (click)="dismiss()">Dismiss</button>
  </div>
  <div>
    <button mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="submit()">Submit</button>
  </div>
</div>