<div class="login-component">
  <div class="login-content">
    <div class="title"> Ethereum Cat Adoptation Login</div>
    <mat-form-field class="address">
      <mat-label>Account Address</mat-label>
      <input matInput
          placeholder="Account Address"
          [(ngModel)]="address">
    </mat-form-field>
    <mat-form-field class="address">
      <mat-label>Private Key</mat-label>
      <input matInput
          placeholder="Private Key"
          [(ngModel)]="secret">
    </mat-form-field>
    <div class="w-full flex justify-center items-center pt-5">
      <button class="w-[100px]"
          mat-raised-button
          (click)="login()">Login</button>
    </div>
  </div>
</div>