<div class="main-content">
  <div class="content-title">
    All Cat For Adoption
  </div>
  <ng-container *ngFor="let cat of catList">
    <div class="card-content">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar
              class="header-image"></div>
          <mat-card-title>{{ cat.name }}</mat-card-title>
          <mat-card-subtitle>{{ cat.breed }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Cat">
        <mat-card-content>
          <div class="w-full pt-4">
            <div class="w-full flex flex-wrap pb-2">
              <div class="auto-cols-auto font-bold">Age:</div>
              <div class="auto-cols-auto pl-2">{{ cat.age }}</div>
            </div>
            <div class="w-full">
              <div class="font-bold">Description:</div>
              <div>{{ cat.description }}</div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="w-full flex justify-center items-center py-4">
            <button mat-raised-button
                color="primary"
                (click)="openCreateOffer()">CREATE OFFERS</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

  </ng-container>
</div>